# 数据库 MySQL
DATABASE_URL="数据库地址"

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# MinerU
MINERU_API_TOKEN=minerU的API Token
MINERU_API_URL=https://mineru.net/api/v4/file-urls/batch

# MongoDB
MONGODB_URI=MOngoDB地址

# Milvus
MILVUS_ADDRESS=Milvus地址
MILVUS_HOST=Milvus主机
MILVUS_PORT=Milvus端口
MILVUS_URL=Milvus地址
CHUNKS_COLLECTION_NAME=Milvus集合名
ITEM_NAME_COLLECTION_NAME=Milvus集合名

# MinIO
MINIO_ENDPOINT=MinIO地址
MINIO_PORT=MinIO端口
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=MinIO访问密钥
MINIO_SECRET_KEY=MinIO密钥
MINIO_BUCKET=MinIO桶名

# 服务端口
PORT=服务端口